NODE_ENV=development
BASE_URL=
CLIENT_BASE_URL=

CORS_ORIGIN=*
CORS_CREDENTIALS=

SESSION_SECRET=secret
SESSION_COOKIE_MAX_AGE=3600000
SESSION_RESAVE=false
SESSION_SAVE_UNINITIALIZED=false

REDIS_URL=redis://localhost:6379
REDIS_USERNAME=redis
REDIS_PASSWORD=redis

DB_CLIENT=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_NAME=postgres
DB_PASSWORD=postgres
DB_SSL=false

GOOGLE_APPLICATION_CREDENTIALS=/$HOME/.config/gcloud/application_default_credentials.json
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
